{{#ember-dhtmlx treeAction='treeAction' created='treeCreated'}}
	<div id="treeboxbox_tree"></div>
{{/ember-dhtmlx}}

{{#link-to 'nextone'}}Next one{{/link-to}}
<button {{action 'addItem'}}></button>

